body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: black;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin:0;
}

nav ul li{
    padding: 20px;
    margin: 0 15px;
    font-size: 1.2em;
}

nav ul li:hover{
    transition: 0.3s all;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
}

nav a{
    text-decoration: none;
    color:white;
}