body{
    background-color: bisque;
}

#sarasas{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input, button,span{
    margin: 10px;
}