body{
    background-color: bisque;
}

.choice{
    margin: 0 15vw;
}

#container{
    display:flex;
    align-items: center;
    justify-content: center;
}

#list{
    list-style-type: none;
    /* text-align: right; */
}

#list span, button{
    margin: 0 10px;
}

#list li{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#list span{
    color:green;
}

#list span{
    background-color: orangered;
    padding: 5px 10px;
    color:wheat;
    border-radius: 50px;
}

button{
    background-color: yellowgreen;
    padding: 5px 30px;
    border:solid 1px black;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: green;
    transition: 0.3s all;
    color: wheat;
}